body {
    font-family: Arial;
    margin: 0;
    background: #111;
    color: white;
}

.barra-superior {
    background: #1d8edf;
    padding: 15px;
    text-align: center;
}

.controles {
    margin-top: 10px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

.btn-nuevo {
    background: green;
    color: white;
    padding: 8px;
    text-decoration: none;
}

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-productos th, .tabla-productos td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.tabla-productos img {
    background: white;
}

.paginacion {
    text-align: center;
    margin: 20px;
}
